:root {
  --dark: #0d0d0d;
  --light: #fafafa;
}
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  line-height: 1.5;
}

button {
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgb(237, 241, 174) 0%,
    rgb(164, 238, 245) 100%
  );
  margin: 0 auto 0 auto;
  padding: 8px 20px;
}
button:hover,
button:focus {
  transform: scale(1.1);
  transition: transform 150ms, cubic-bezier(0.2, 0, 0.2, 1);
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

input {
  border-radius: 4px;
  margin: 0 auto 0 auto;
  padding: 8px 20px;
  background: linear-gradient(
    0deg,
    rgb(237, 241, 174) 0%,
    rgb(164, 238, 245) 100%
  );
}
input:hover,
input:focus {
  background: var(--light);
}
#search-form {
  font: inherit;
  max-width: 320px;
  margin-bottom: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.load-more {
  display: none;
  margin-top: 16px;
  background: linear-gradient(
    0deg,
    rgb(235, 242, 104) 0%,
    rgb(70, 181, 222) 100%
  );
}

img {
  display: block;
  height: 30vh;
  object-fit: cover;

  min-width: 200px;
  width: 100%;
}
a {
  text-decoration: none;
}

p {
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.photo-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: calc((100% - 10%) / 4);
  min-width: 250px;
  border: 2px solid rgb(241, 238, 238);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
}
.photo-card:hover,
.photo-card:focus {
  transform: scale(1.05);
  transition: transform 150ms, cubic-bezier(0.2, 0, 0.2, 1);
}
.info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 70%;
  justify-content: center;
}
.info-item {
  flex-basis: calc((100%-10%) / 5);

  display: flex;
  flex-direction: column;
}
/*----------------------- тема день - ніч ----------------*/
form {
  position: relative;
}
body.night-mode {
  background-color: var(--dark);
  color: var(--light);
}
body.night-mode .tumbler {
  transform: translateX(calc(100% - 2px));
}

.tumbler-wrapper {
  position: absolute;
  top: -36%;
  right: -30%;

  margin-top: 15px;
  margin-left: auto;
  width: 50px;
  height: 30px;
  background-color: var(--dark);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
  display: flex;
}

.night-mode .tumbler-wrapper {
  border-bottom: 1px dashed var(--light);
  background-color: var(--light);
}

.tumbler {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--light);
  transition: transform 0.5s, background-color 0.5s;
  will-change: transform;
}
.night-mode .tumbler {
  background-color: var(--dark);
}
.night-mode .photo-card {
  background-color: var(--light);
  color: var(--dark);
}
